<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <section
      name="driversConfiguration"
      type="Tiver.Fowl.Drivers.Configuration.DriversConfigurationSection, Tiver.Fowl.Drivers" />
  </configSections>

  <!-- Configuration section settings area. -->
  <driversConfiguration httpTimeout="120">
    <add name="chrome" downloaderType="ChromeDriverDownloader" version="76.0.3809.25" />
  </driversConfiguration>
</configuration>